html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  max-width: 1450px;
  margin: 0 auto;
  background: #f8f9fa;
}

input,
textarea,
button,
select {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  line-height: normal;
}

input {
  line-height: normal;
}

section[id] {
  scroll-margin-top: 50px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  background: #fb5112;
  color: #fff;
  padding: 5px 0;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header a:hover {
  color: #fff;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  font-weight: 700;
  margin-bottom: 10px;
}

.header__top a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  border-right: solid 1px #fff;
  margin-right: 10px;
  padding-right: 10px;
}

.header__top-right button {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__top-right button:hover {
  background: transparent;
  border: 2px solid #fff;
}

.header__top-btnlogin, .header__top-btnlogout {
  background: #00aced;
  border: 2px solid #00aced;
  font-size: 12px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}

.header__top-btnlogout {
  background: #018848;
  border: 2px solid #018848;
}

.header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  margin-bottom: 10px;
}

.header__center-logo {
  font-size: 35px;
  font-weight: 700;
  cursor: pointer;
}

.header__center-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: none;
      flex-wrap: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 15px;
}

.header__center-input {
  width: 80%;
  padding: 10px 30px;
  border-radius: 10px 0 0 10px;
}

.header__center-search {
  border-radius: 0 10px 10px 0;
  font-weight: 700;
  color: #fff;
  background: #018848;
  padding: 0 20px;
}

.header__center-search:hover {
  color: #fb5112;
}

.header__center-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: none;
      flex-wrap: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.header__center-cart i {
  font-size: 25px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #fff;
  margin-bottom: 5px;
}

.header__center-cart b {
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__center-cart:hover b,
.header__center-cart:hover i {
  color: #000;
}

.header__toggle {
  font-size: 30px;
  display: none;
}

.header__search-mobile {
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
  display: none;
}

.header__search-mobile-input {
  width: 80%;
  padding: 10px 20px;
}

.header__search-mobile-button {
  width: 20%;
  padding: 10px;
  margin-right: 3px;
  border-radius: 0 20px 20px 0;
  background: #fb5112;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 3px;
  right: 0;
}

.header__bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__bottom-nav a {
  color: #fff;
  padding: 5px 30px;
  border: solid 2px #fff;
  border-radius: 5px;
  font-weight: 700;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__bottom-nav a:hover {
  background: #fff;
  color: #fb5112;
}

.hero {
  margin: 50px 0;
  background: #f8f9fa;
}

.hero a {
  text-decoration: none;
}

.hero a:hover {
  color: inherit;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.hero__image {
  width: 70%;
  margin-right: 10px;
  border: 5px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: #b9b9b9 0 0 5px 2px;
          box-shadow: #b9b9b9 0 0 5px 2px;
}

.hero__image img {
  width: 100%;
}

.hero__image ol {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding: 0 15px;
  bottom: 10px;
}

.hero__image ol li {
  background: transparent;
  text-indent: unset;
  width: unset;
  height: unset;
  color: #3e3e3e;
  text-align: center;
  padding: 10px 2px;
  position: relative;
  cursor: pointer;
}

.hero__image ol li::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #fb5112;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hero__image ol li:hover {
  color: #fb5112;
}

.hero__image ol li:hover::after {
  width: 100%;
}

.hero__image ol li p {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 13px;
  line-height: 1.2;
}

.hero__image ol .active {
  background: transparent;
  color: #fb5112;
}

.hero__image ol .active::after {
  width: 100%;
}

.hero__image .carousel-control-next,
.hero__image .carousel-control-prev {
  width: 5%;
  -webkit-transform: translateY(-8%);
      -ms-transform: translateY(-8%);
          transform: translateY(-8%);
}

.hero__image .carousel-control-next-icon,
.hero__image .carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

.hero__news {
  width: 30%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__news-image-item {
  display: inline-block;
  margin-top: 30px;
}

.hero__content {
  font-size: 14px;
  -webkit-box-shadow: #b9b9b9 0 0 5px 2px;
          box-shadow: #b9b9b9 0 0 5px 2px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.hero__content-heading {
  padding: 10px;
  background: #fb5112;
  margin: 0;
}

.hero__content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 10px;
  padding: 0 5px;
}

.hero__content-inner img {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px;
}

.hero__content-text {
  width: 80%;
  padding-bottom: 5px;
}

.hero__content-text span {
  display: block;
  margin-bottom: 10px;
  color: #3e3e3e;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.hero__content-text p {
  color: #b9b9b9;
  margin-bottom: 0;
}

.flash-sale {
  margin-bottom: 50px;
}

.flash-sale a {
  text-decoration: none;
}

.flash-sale a:hover {
  color: inherit;
}

.flash-sale__container {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.flash-sale__banner {
  width: 30%;
  margin: -20px 0 20px -20px;
}

.flash-sale__product {
  position: relative;
}

.flash-sale__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
}

.flash-sale__item {
  padding: 20px;
}

.flash-sale__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flash-sale__content img {
  width: 40%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.flash-sale__content-info h4 {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.flash-sale__content-price {
  margin-top: 20px;
}

.flash-sale__content-price span {
  display: inline-block;
  background: #ee1e25;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.flash-sale__content-newPrice {
  margin-bottom: 20px;
}

.flash-sale__content-newPrice p {
  background: #ee1e25;
  display: inline;
  margin: 0 10px 0 0;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}

.flash-sale__content-newPrice del {
  color: #a99c9c;
  font-size: 20px;
}

.flash-sale__content-KM button {
  background: #fb5112;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 700;
}

.flash-sale__content-KM button:hover {
  background: #fff;
  border: 2px solid #fb5112;
  color: #fb5112;
}

.flash-sale__content-KM button:nth-child(2) {
  background: #ee1e25;
}

.flash-sale__content-KM button:nth-child(2):hover {
  border: 2px solid #ee1e25;
  background: #fff;
  color: #ee1e25;
}

.flash-sale__content-KM button:last-child {
  background: #00aced;
}

.flash-sale__content-KM button:last-child:hover {
  border: 2px solid #00aced;
  background: #fff;
  color: #00aced;
}

.flash-sale__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 20px;
}

.flash-sale__time-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #fff;
  font-weight: 700;
}

.flash-sale__time-inner h4 {
  color: #000;
  margin: 0 15px 0 0;
  font-size: 18px;
  font-weight: 700;
}

.flash-sale__time-inner .gio,
.flash-sale__time-inner .phut,
.flash-sale__time-inner .giay {
  width: 50px;
  text-align: center;
  margin: 0 10px;
  padding: 10px 5px;
  border-radius: 8px;
  background: #464646;
  font-size: 15px;
}

.flash-sale__time-inner .number {
  padding: 0 8px;
  border-bottom: solid 2px #ee1e25;
}

.flash-sale__time-inner .word {
  display: block;
  margin-top: 5px;
}

.flash-sale__time-inner .haiCham {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

.flash-sale__detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.flash-sale__detail-item {
  height: 307px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

.flash-sale__detail-inner h3 {
  border: solid 8px #ee1e25;
  border-radius: 10px;
  font-size: 35px;
  font-weight: 700;
  display: inline-block;
  padding: 10px;
  color: #ee1e25;
  width: 280px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 35%;
  -webkit-transform: rotate(325deg);
      -ms-transform: rotate(325deg);
          transform: rotate(325deg);
  margin: 0;
}

.banner {
  margin: 30px 0;
}

.banner img {
  margin: 0 auto;
  width: 40%;
}

.discount-product a {
  text-decoration: none;
}

.discount-product__heading {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  background: #fb5112;
  padding: 15px 0;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}

.discount-product__heading i {
  font-size: 30px;
}

.discount-product__list {
  background: #fff;
  color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0 10px 20px 10px;
}

.discount-product__item {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  border-radius: 0 0px 5px 5px;
}

.discount-product__item:hover {
  -webkit-box-shadow: #b9b9b9 0 5px 15px 0px;
          box-shadow: #b9b9b9 0 5px 15px 0px;
}

.discount-product__item:hover .discount-product__image img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.discount-product__item:hover .discount-product__inner {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.discount-product__item-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-align: center;
  height: 55px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.discount-product__item-title:hover {
  color: #fb5112;
}

.discount-product__item-price {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discount-product__item-price b {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  background: #ee1e25;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.discount-product__item-price del {
  display: block;
  margin-top: 5px;
  color: #b9b9b9;
  font-style: italic;
  margin-bottom: 10px;
}

.discount-product__content {
  padding: 20px;
  overflow: hidden;
}

.discount-product__image {
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.discount-product__image a {
  overflow: hidden;
}

.discount-product__image a img {
  width: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.discount-product__tick {
  position: absolute;
  bottom: 0;
  left: 0;
}

.discount-product__tick p {
  background: #fb5112;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}

.discount-product__tick p:nth-child(2) {
  background: #ee1e25;
}

.discount-product__tick p:last-child {
  background: #00aced;
}

.discount-product__button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -20px;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden;
}

.discount-product__button-item {
  display: inline-block;
  padding: 10px 5px;
  border-radius: 5px;
  color: #fb5112;
  border: 2px solid #fb5112;
  background: #fff;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.discount-product__button-item:hover {
  background: #fb5112;
  color: #fff;
}

.discount-product__button-item:first-child {
  margin-right: 2px;
}

.discount-product__button-item:hover {
  color: #fff;
}

.discount-product__inner {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.top-product a {
  text-decoration: none;
}

.top-product__container {
  background: #fff;
  border-radius: 5px;
  padding: 0 10px;
}

.top-product__top {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.top-product__top-title {
  width: 25%;
}

.top-product__top-title h4 {
  display: inline-block;
  background: #00aced;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-weight: 700;
}

.top-product__top-nav {
  width: 75%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.top-product__top-nav li {
  margin-left: 20px;
}

.top-product__top-nav li a {
  color: #000;
  font-size: 13px;
}

.top-product__top-nav li a:hover {
  color: #fb5112;
}

.top-product__list {
  color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.top-product__item {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  border-radius: 10px;
  margin-bottom: 15px;
}

.top-product__item:hover {
  -webkit-box-shadow: #b9b9b9 0 5px 15px 0px;
          box-shadow: #b9b9b9 0 5px 15px 0px;
}

.top-product__item:hover .top-product__image img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.top-product__item:hover .top-product__inner {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.top-product__item-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-align: center;
  height: 55px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.top-product__item-title:hover {
  color: #fb5112;
}

.top-product__item-price {
  text-align: center;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.top-product__item-price b {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  background: #ee1e25;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-right: 5px;
}

.top-product__item-price-old {
  text-align: left;
}

.top-product__item-price-old del {
  display: block;
  margin-bottom: 5px;
  color: #b9b9b9;
  font-style: italic;
  font-size: 14px;
}

.top-product__item-price-old p {
  display: inline-block;
  background: #00aced;
  margin-bottom: 0;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
}

.top-product__content {
  padding: 20px 10px 0 10px;
  overflow: hidden;
}

.top-product__image {
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.top-product__image a {
  overflow: hidden;
}

.top-product__image a img {
  width: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.top-product__tick {
  position: absolute;
  bottom: 0;
  left: 0;
}

.top-product__tick p {
  background: #fb5112;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}

.top-product__tick p:nth-child(2) {
  background: #ee1e25;
}

.top-product__tick p:last-child {
  background: #00aced;
}

.top-product__tag {
  background: #f8f9fa;
  height: 127px;
  padding: 10px 10px 30px 10px;
  border-radius: 0 0 10px 10px;
}

.top-product__tag p {
  display: inline-block;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  color: #3e3e3e;
  font-size: 12px;
}

.top-product__button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -20px;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden;
}

.top-product__button-item {
  display: inline-block;
  padding: 10px 5px;
  border-radius: 5px;
  color: #fb5112;
  border: 2px solid #fb5112;
  background: #fff;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.top-product__button-item:hover {
  background: #fb5112;
  color: #fff;
}

.top-product__button-item:first-child {
  margin-right: 2px;
}

.top-product__button-item:hover {
  color: #fff;
}

.top-product__inner {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.banner-bottom {
  margin: 30px 0;
}

.banner-bottom__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
}

.banner-bottom__container img {
  border: 10px solid #fff;
  border-radius: 10px;
}

.footer {
  background: #fff;
  color: #000;
  border-top: 3px solid #fb5112;
  padding-top: 30px;
}

.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 0 30px;
}

.footer__content-item {
  list-style: none;
}

.footer__content-item li {
  margin-bottom: 15px;
  line-height: 1.2;
}

.footer__content-item li a {
  text-decoration: none;
  color: #3e3e3e;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__content-item li a:hover {
  color: #fb5112;
}

.footer__content-item li:first-child {
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__content-phone {
  font-size: 25px;
  font-weight: 700;
  color: #000;
}

.footer__rocket {
  position: fixed;
  bottom: 50px;
  right: 60px;
}

.footer__rocket a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 1.8;
  text-align: center;
  background: transparent;
  font-size: 25px;
  color: #fb5112;
  border-radius: 8px;
  border: 4px solid #fb5112;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__rocket a:hover {
  background: #fb5112;
  color: #fff;
}

.footer__bottom {
  text-align: right;
  background: #3e3e3e;
  padding: 30px;
}

.footer__bottom span {
  font-style: italic;
  color: #b9b9b9;
  font-size: 14px;
}

@media screen and (max-width: 1023px) {
  .header__center-form {
    padding: 0 25px;
  }
  .header__bottom-nav a {
    padding: 5px 10px;
  }
  .hero__news-image-item {
    margin-top: 10px;
  }
  .flash-sale__container {
    padding: 20px 0;
  }
  .flash-sale__banner {
    margin-left: 0;
  }
  .flash-sale__item {
    padding: 10px;
  }
  .flash-sale__content-info h4 {
    height: 36px;
  }
  .flash-sale__content-price {
    margin-top: 10px;
  }
  .flash-sale__content-price span {
    font-size: 20px;
  }
  .flash-sale__content-KM {
    height: 62px;
  }
  .flash-sale__time {
    margin-top: 10px;
  }
  .flash-sale__detail-inner h3 {
    border: 5px solid;
    font-size: 20px;
    width: 200px;
    top: 60%;
    left: 40%;
  }
  .discount-product__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .banner {
    margin: 20px 0;
  }
  .banner img {
    width: 50%;
  }
  .top-product__top-title h4 {
    font-size: 17px;
    padding: 12px 10px;
  }
  .top-product__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .banner-bottom__container {
    gap: 10px;
  }
  .footer__content-item li:first-child {
    height: 58px;
  }
  .footer__content-phone {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header__top {
    display: none;
  }
  .header__center {
    margin-bottom: 0;
  }
  .header__center-form {
    display: none;
  }
  .header__center-cart i {
    font-size: 20px;
  }
  .header__search-mobile {
    display: block;
  }
  .header__toggle {
    display: block;
  }
  .header__bottom {
    display: none;
  }
  .hero {
    margin: 30px 0;
  }
  .hero__list {
    display: block;
  }
  .hero__image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .hero__image ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .hero__image ol li {
    padding: 0;
    margin: 0 15px;
  }
  .hero__image ol li::after {
    display: none;
  }
  .hero__image ol li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 15px;
    height: 15px;
    background: rgba(251, 81, 18, 0.5);
    border-radius: 50%;
  }
  .hero__image ol li::before:hover li::before {
    background: #fb5112;
  }
  .hero__image ol li p {
    display: none;
  }
  .hero__news {
    width: 100%;
    margin-left: 0;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .hero__news-image {
    width: 50%;
    margin-left: 5px;
    -webkit-box-shadow: #b9b9b9 0 0 5px 2px;
            box-shadow: #b9b9b9 0 0 5px 2px;
  }
  .hero__news-image-item {
    margin: 0;
  }
  .hero__news-image-item:first-child {
    margin-bottom: 5px;
  }
  .hero__content {
    width: 50%;
    margin-right: 5px;
    border-radius: 0;
  }
  .flash-sale__banner {
    width: 50%;
  }
  .flash-sale__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .flash-sale__item {
    margin-bottom: 20px;
  }
  .flash-sale__detail {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .flash-sale__detail-item {
    margin-bottom: 10px;
  }
  .banner {
    margin: 15px 0;
  }
  .banner img {
    width: 65%;
  }
  .top-product__top-title {
    width: 100%;
  }
  .top-product__top-nav {
    display: none;
  }
  .top-product__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .banner-bottom {
    margin: 15px 0;
  }
  .banner-bottom img {
    border: 5px solid #fff;
  }
  .footer__content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer__content-item li:first-child {
    height: unset;
  }
}

@media screen and (max-width: 479px) {
  .header__center-logo {
    font-size: 30px;
  }
  .header__center-cart i {
    font-size: 16px;
  }
  .header__search-mobile-input {
    padding: 5px 20px;
    font-size: 14px;
  }
  .header__search-mobile-button {
    padding: 5px;
    margin-right: 2px;
    top: 2px;
    font-size: 14px;
    line-height: 1.1;
  }
  .hero {
    margin: 20px 0;
  }
  .hero__news {
    display: none;
  }
  .flash-sale {
    margin-bottom: 20px;
  }
  .flash-sale__banner {
    width: 60%;
  }
  .flash-sale__content-info h4 {
    font-size: 17px;
  }
  .flash-sale__content-price span {
    font-size: 16px;
  }
  .flash-sale__content-newPrice del {
    font-size: 16px;
  }
  .flash-sale__detail-item {
    height: 295px;
  }
  .discount-product__heading {
    font-size: 18px;
  }
  .discount-product__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .top-product__top-title {
    width: 100%;
  }
  .top-product__top-nav {
    display: none;
  }
  .top-product__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .top-product__item-price {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .banner-bottom img {
    border: 2px solid #fff;
    border-radius: 5px;
  }
  .footer__content-item li:first-child {
    height: 39px;
  }
}
