$font-primary: "Open Sans", sans-serif;
$font-secondary: "Poppins", sans-serif;

$color-primary: #fb5112;
$color-secondary: #ee1e25;
$color-yellow: #edc500;
$color-gray: #f8f9fa;
$color-gray-300: #b9b9b9;
$color-gray-400: #3e3e3e;
$color-blue: #00aced;

@mixin flex($align, $jus, $wrap) {
  display: flex;
  align-items: $align;
  justify-content: $jus;
  flex-wrap: $wrap;
}
