@media screen and(max-width:1023px) {
  .header {
    &__center-form {
      padding: 0 25px;
    }
    &__bottom-nav a {
      padding: 5px 10px;
    }
  }

  .hero__news-image-item {
    margin-top: 10px;
  }

  .flash-sale {
    &__container {
      padding: 20px 0;
    }
    &__banner {
      margin-left: 0;
    }
    &__item {
      padding: 10px;
    }
    &__content {
      &-info {
        h4 {
          height: 36px;
        }
      }
      &-price {
        margin-top: 10px;
        span {
          font-size: 20px;
        }
      }
      &-KM {
        height: 62px;
      }
    }
    &__time {
      margin-top: 10px;
    }
    &__detail-inner h3 {
      border: 5px solid;
      font-size: 20px;
      width: 200px;
      top: 60%;
      left: 40%;
    }
  }

  .discount-product {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  .banner {
    margin: 20px 0;
    img {
      width: 50%;
    }
  }

  .top-product {
    &__top-title h4 {
      font-size: 17px;
      padding: 12px 10px;
    }
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .banner-bottom__container {
    gap: 10px;
  }

  .footer__content {
    &-item li:first-child {
      height: 58px;
    }
    &-phone {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__top {
      display: none;
    }
    &__center {
      margin-bottom: 0;
      &-form {
        display: none;
      }
      &-cart {
        i {
          font-size: 20px;
        }
      }
    }
    &__search-mobile {
      display: block;
    }

    &__toggle {
      display: block;
    }
    &__bottom {
      display: none;
    }
  }

  .hero {
    margin: 30px 0;
    &__list {
      display: block;
    }
    &__image {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
      ol {
        @include flex(center, center, nowrap);
        li {
          padding: 0;
          margin: 0 15px;
          &::after {
            display: none;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.2s linear;
            width: 15px;
            height: 15px;
            background: rgba($color-primary, 0.5);
            border-radius: 50%;
            &:hover {
              li::before {
                background: $color-primary;
              }
            }
          }

          p {
            display: none;
          }

          // .active {
          //   background: $color-primary;
          //   width: 15px;
          //   height: 15px;
          //   border-radius: 50%;

          //   &::after {
          //     width: unset;
          //   }
          // }
        }
      }
    }

    &__news {
      width: 100%;
      margin-left: 0;
      flex-direction: unset;
      align-items: stretch;
      &-image {
        width: 50%;
        margin-left: 5px;
        box-shadow: $color-gray-300 0 0 5px 2px;
        &-item {
          margin: 0;
          &:first-child {
            margin-bottom: 5px;
          }
        }
      }
    }
    &__content {
      width: 50%;
      margin-right: 5px;
      border-radius: 0;
    }
  }

  .flash-sale {
    &__banner {
      width: 50%;
    }
    &__list {
      grid-template-columns: 1fr;
    }
    &__item {
      margin-bottom: 20px;
    }
    &__detail {
      grid-template-columns: 1fr;
      &-item {
        margin-bottom: 10px;
      }
    }
  }

  .banner {
    margin: 15px 0;
    img {
      width: 65%;
    }
  }

  .top-product {
    &__top {
      &-title {
        width: 100%;
      }
      &-nav {
        display: none;
      }
    }
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .banner-bottom {
    margin: 15px 0;
    img {
      border: 5px solid #fff;
    }
  }

  .footer__content {
    grid-template-columns: repeat(2, 1fr);
    &-item li:first-child {
      height: unset;
    }
  }
}

@media screen and (max-width: 479px) {
  .header {
    &__center {
      &-logo {
        font-size: 30px;
      }
      &-cart i {
        font-size: 16px;
      }
    }
    &__search-mobile {
      &-input {
        padding: 5px 20px;
        font-size: 14px;
      }
      &-button {
        padding: 5px;
        margin-right: 2px;
        top: 2px;
        font-size: 14px;
        line-height: 1.1;
      }
    }
  }

  .hero {
    margin: 20px 0;
    &__news {
      display: none;
    }
  }

  .flash-sale {
    margin-bottom: 20px;
    &__banner {
      width: 60%;
    }
    &__content {
      &-info h4 {
        font-size: 17px;
      }
      &-price span {
        font-size: 16px;
      }
      &-newPrice del {
        font-size: 16px;
      }
    }
    &__detail {
      &-item {
        height: 295px;
      }
      &-inner h3 {
        left: 30%;
      }
    }
  }

  .discount-product {
    &__heading {
      font-size: 18px;
    }
    &__list {
      grid-template-columns: 1fr;
    }
  }

  .top-product {
    &__top {
      &-title {
        width: 100%;
      }
      &-nav {
        display: none;
      }
    }
    &__list {
      grid-template-columns: 1fr;
    }
    &__item-price {
      justify-content: space-around;
    }
  }

  .banner-bottom img {
    border: 2px solid #fff;
    border-radius: 5px;
  }

  .footer {
    &__content-item li:first-child {
      height: 39px;
    }
    &__rocket {
      bottom: 20px;
      right: 20px;
    }
  }
} ;
