@media screen and(max-width:1023px) {
  .header {
    &__center-form {
      padding: 0 25px;
    }
    &__bottom-nav a {
      padding: 5px 10px;
    }
  }

  .hero__news-image-item {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__top {
      display: none;
    }
    &__center {
      margin-bottom: 0;
      &-form {
        display: none;
      }
      &-cart {
        i {
          font-size: 20px;
        }
      }
    }
    &__search-mobile {
      display: block;
    }

    &__toggle {
      display: block;
    }
    &__bottom {
      display: none;
    }
  }

  .hero {
    margin: 30px 0;
    &__list {
      display: block;
    }
    &__image {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
      ol {
        @include flex(center, center, nowrap);
        li {
          padding: 0;
          margin: 0 15px;
          &::after {
            display: none;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.2s linear;
            width: 15px;
            height: 15px;
            background: rgba($color-primary, 0.5);
            border-radius: 50%;
            &:hover {
              li::before {
                background: $color-primary;
              }
            }
          }

          p {
            display: none;
          }

          // .active {
          //   background: $color-primary;
          //   width: 15px;
          //   height: 15px;
          //   border-radius: 50%;

          //   &::after {
          //     width: unset;
          //   }
          // }
        }
      }
    }

    &__news {
      width: 100%;
      margin-left: 0;
      flex-direction: unset;
      align-items: stretch;
      &-image {
        width: 50%;
        margin-left: 5px;
        box-shadow: $color-gray-300 0 0 5px 2px;
        &-item {
          margin: 0;
          &:first-child {
            margin-bottom: 5px;
          }
        }
      }
    }
    &__content {
      width: 50%;
      margin-right: 5px;
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 479px) {
  .header {
    &__center {
      &-logo {
        font-size: 30px;
      }
      &-cart i {
        font-size: 16px;
      }
    }
    &__search-mobile {
      &-input {
        padding: 5px 20px;
        font-size: 14px;
      }
      &-button {
        padding: 5px;
        margin-right: 2px;
        top: 2px;
        font-size: 14px;
        line-height: 1.1;
      }
    }
  }

  .hero {
    margin: 20px 0;
    &__news {
      display: none;
    }
  }
} ;
