.top-product {
  a {
    text-decoration: none;
  }
  &__container {
    background: #fff;
    border-radius: 5px;
    padding: 0 10px;
  }
  &__top {
    margin-bottom: 10px;
    @include flex(center, space-between, nowrap);
    &-title {
      width: 25%;
      h4 {
        display: inline-block;
        background: $color-blue;
        font-size: 20px;
        padding: 12px 20px;
        border-radius: 0 0 10px 10px;
        color: #fff;
        font-weight: 700;
      }
    }
    &-nav {
      width: 75%;
      list-style: none;
      @include flex(center, flex-end, nowrap);
      li {
        margin-left: 20px;
        a {
          color: #000;
          font-size: 13px;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }

  &__list {
    color: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  &__item {
    transition: all 0.2s linear;
    position: relative;
    border-radius: 10px;
    margin-bottom: 15px;
    &:hover {
      box-shadow: $color-gray-300 0 5px 15px 0px;
      .top-product__image {
        img {
          transform: scale(1.1);
        }
      }
      .top-product__inner {
        transform: translateY(0);
      }
    }

    &-title {
      color: #000;
      font-size: 20px;
      font-weight: 700;
      margin: 20px 0 10px 0;
      transition: all 0.2s linear;
      text-align: center;
      height: 55px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      &:hover {
        color: $color-primary;
      }
    }

    &-price {
      text-align: center;
      margin-bottom: 15px;
      @include flex(center, center, nowrap);
      b {
        display: block;
        width: max-content;
        padding: 10px;
        background: $color-secondary;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        margin-right: 5px;
      }
      &-old {
        text-align: left;
        del {
          display: block;
          margin-bottom: 5px;
          color: $color-gray-300;
          font-style: italic;
          font-size: 14px;
        }
        p {
          display: inline-block;
          background: $color-blue;
          margin-bottom: 0;
          border-radius: 5px;
          padding: 5px;
          font-size: 13px;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }

  &__content {
    padding: 20px 10px 0 10px;
    overflow: hidden;
  }
  &__image {
    position: relative;
    transition: all 0.2s linear;
    a {
      overflow: hidden;

      img {
        width: 100%;
        transition: all 0.2s linear;
      }
    }
  }
  &__tick {
    position: absolute;
    bottom: 0;
    left: 0;
    p {
      background: $color-primary;
      color: #fff;
      padding: 8px;
      border-radius: 10px;
      margin-bottom: 5px;
      font-size: 10px;
      font-weight: 700;
      text-align: center;

      &:nth-child(2) {
        background: $color-secondary;
      }
      &:last-child {
        background: $color-blue;
      }
    }
  }

  &__tag {
    background: $color-gray;
    height: 127px;
    padding: 10px 10px 30px 10px;
    border-radius: 0 0 10px 10px;
    p {
      display: inline-block;
      border: 1px solid $color-gray-400;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 5px;
      color: $color-gray-400;
      font-size: 12px;
    }
  }

  &__button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -20px;
    left: 0;
    transition: all 0.2s linear;
    overflow: hidden;
    &-item {
      display: inline-block;
      padding: 10px 5px;
      border-radius: 5px;
      color: $color-primary;
      border: 2px solid $color-primary;
      background: #fff;
      font-size: 13px;
      font-weight: 700;
      transition: all 0.2s linear;

      &:hover {
        background: $color-primary;
        color: #fff;
      }
      &:first-child {
        margin-right: 2px;
      }
      &:hover {
        color: #fff;
      }
    }
  }
  &__inner {
    transform: translateY(-50px);
    transition: all 0.3s linear;
  }
}
