html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  max-width: 1450px;
  margin: 0 auto;
  background: #f8f9fa;
}

input,
textarea,
button,
select {
  font-family: $font-primary;
  font-size: 16px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  line-height: normal;
}

input {
  line-height: normal;
}

section[id] {
  scroll-margin-top: 50px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 25px;
}
